@import "variables.css";
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height:1.5;
    margin:0 auto;
    padding:0;
    background-color: #243b2b;
    color: #fffcd6
}


* {
    box-sizing: border-box;
  }

/* Global */
.container{
    width:80%;
    margin:0 auto;
    overflow:hidden;
    box-sizing: border-box;
    
}

ul{
    margin:0;
    padding:0;
    } 

/* Header */
header{
    background:#8a8028;
    color:#c9c8c1;
    min-height:70px;
    border-bottom:#fffcd6 3px solid;
    max-width:1920px;
    margin:0 auto;
    text-shadow:6px 4px 10px rgba(0, 0, 0, 0.753);
}

header a{
    color:#fffcd6;
    text-decoration:none;
    font-size:16px;
}

header li{
    float:left;
    display:inline;
    padding: 0 10px 0 10px;
    
}

header #branding{
    float:left;
    font-style:italic;
}

header nav{
    float:right;
    margin-top:0px;
    margin-bottom:20px;
    
}

header a:hover{
    columns: #bada55;
    font-weight:bold;
}

@media (min-width: 1033px) {
    header nav {
        margin-top:85px;
    }}

@media (max-width: 555px) {
    header #branding {
        font-size:2.5vw;
    }
    header a {
        font-size:3vw;
    }}

@media (max-width: 386px) {
    header li {
        padding:0 5px 0 5px;
    }}       
    


/* Showcase */

#showcase{
    margin:0 auto;
    min-height:400px;
    max-width:1920px;
    background-image:url('../assets/lotus.jpg');
    background-repeat:no-repeat;
    background-position: center; 
    background-size: cover;
    text-shadow:5px 5px 4px rgb(0, 0, 0);
    font-style:italic;
}





button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;

}     
#bigger_cars h1{
    text-align:center;
    padding: 20px 0 20px 0;
}

.guziki{
    text-align:center;
    width:427.65px;
    margin:auto;
    padding: 20px 0 20px 0;
}

.bmw{
    float:left;
    margin-right:20px;
}

.alfa{
    float:left; 
    margin-left:20px;
} 

@media (max-width: 445px) {
    #showcase{
        background-image:url('../assets/lotusik.jpg');
        background-size: fill;
        }
    .guziki{
        width:100%;
    }
.bmw{
    float:none;
    margin:0 0 5px 0;
}
.alfa{
    float:none;
    margin:0
}}

#about_car{
    text-align:center;
    display: flex;
    align-items:center;
    margin:auto;
    max-width:1600px;
    padding:20px 0 20px 0;
 }

 .left_side{
  max-width:300px;
 
  margin-right:0px;
 }
 
 .right_side{
    margin-left:10px;
    word-wrap: break-word;
    
    width: 700px;
    border-left:#fffcd6 1px solid;
 }

 .right_side p{
     margin-left:20px;}

     /* Stat bars */

#stat_bars{
    display:flex;
    justify-content:center;
    padding:20px 0 100px 0;
}

.wrapper_left{
width: 400px;

}

.wrapper_right{
width: 400px;
}

.line{
    margin:0 10px 0 10px;
    height:22px;
    min-width:80%;
    padding:0 0 0 10px;
    position:relative;
}

.line:before{
    content:'';
    width:100%;
    position:absolute;
    left:0;
    height:22px;
    top:0;
    z-index:-2;
    background:#99977f
}

.line:after{
    content:'';
    background:#beb347;
    height:22px;
    transition:0.8s;
    display:block;
    width:100%;
    animation: animate 1 4s;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
}

.line1_left:after{
    max-width:90%;
}
.line2_left:after{
    max-width:80%;
}

.line3_left:after{
    max-width:75%;
}

.line1_right:after{
    max-width:45%;
}

.line2_right:after{
    max-width:75%;
}

.line3_right:after{
    max-width:90%;
}

@keyframes animate{
    0%{
        width: 0;
    }
    100%{
        width:100%;
    }
}

@media screen and (min-width: 760px){
    #boxes{
    margin:auto;
    display:grid;
    justify-content:center;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 30vw 30vw;
    grid-gap:1.5vw 1.5vw;
    max-width:1950px;
}}

@media screen and (min-width: 320px) and (max-width:760px){
    #boxes{
        display:grid;
        justify-content:space-evenly;
        grid-template-columns: 47vw 47vw;
        grid-template-rows: 47vw 47vw 47vw;
        grid-gap:1.5vw 1.5vw;
        
}}
    
@media screen and (max-width: 320px){
    #boxes{
        margin:auto;
        display:grid;
        justify-content:space-evenly;
        grid-template-columns: 95vw;
        grid-template-rows: 95vw 95vw;
        grid-row-gap:20px;
            
}}

@media screen and (min-width: 1900px){
    #boxes{
    margin:auto;
    display:grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 30vw 30vw;
    grid-gap:20px 20px;
}}

.box1, .box2, .box3, .box4, .box5, .box6 {
background-size:contain;
background-color:rgba(65, 70, 0, 0.63);
border:#fffcd6 2px solid;
max-width: 600px;
max-height:600px;
font-size:1.5vw;
text-align:center;
}
.box1 > img{
    object-fit:cover;
    width: 100%;
    max-height: 100%;
}
.box2 > img{
    object-fit:cover;
    width: 100%;
    max-height: 100%;
}
.box3 > img{
    object-fit:cover;
    width: 100%;
    max-height: 100%;
}
.box4 > img{
    object-fit:cover;
    width: 100%;
    max-height: 100%;
}
.box5 > img{
    object-fit:cover;
    width: 100%;
    max-height: 100%;
}
.box6 > img{
    object-fit:cover;
    width: 100%;
    max-height: 100%;
}
/* .box2, .box1{
    border:#fffcd6 2px solid;
} */



@media screen and (max-width: 375px){
    #stat_bars{
        flex-wrap:wrap;
    }
    #about_car{
        flex-wrap:wrap;
    }
    #about_car .right_side{
        border-left:0;
        border-top:#fffcd6 1px solid;
    }
    #about_car .left_side{
        margin: 0 2px 5px 2px;
        align-self: center;
    }